<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.0/dijit/themes/soria/soria.css" />
		<link type="text/css" rel="stylesheet" href="/static/css/dojo.css" />
	<title>Dojo Guestbook</title>
</head>
<body>
<div id="result" style="padding: 20px; width: 650px">
</div>
<!-- configure Dojo -->
<script type="text/javascript">
	{% autoescape off %}
		var dojoConfig = {
			baseUrl: '//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo',
			paths: {
				'guestbook': '/static/js/guestbook'
			},
			locale: 'en-us',
            extraLocale: ['en-us']
		};
	{% endautoescape %}
</script>
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"></script>
<script type="text/javascript">
	require(['guestbook/app']);
</script>
</body>
</html>