<div class="guestbook-content">
	<span class="guestbook-title">
		<strong>Guestbook</strong>
	</span><br>
	<div class="guestbook-item">
		<input data-dojo-attach-point="contentSwitchGuestbook"
				data-dojo-type="dijit/form/TextBox" value=${guestbookName} />
		<button data-dojo-attach-point="switchGuestbookButton"
				data-dojo-type="dijit/form/Button">Switch</button>
	</div>
	<div class="guestbook-form">
		<input required="true" type="text"
				  data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="contentNewGreeting"
				  data-dojo-props="regExp:'.{1,50}', invalidMessage:'Khong vuot qua 50 ki tu'"
				  class="guestbook-input"/><br>
		<button data-dojo-attach-point="submitNewGreetingButton">Add New Greeting</button>
	</div>
	<div id="greetings" class="list-greeting">

	</div>
</div>