<html>
<head>
	<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
<table>
	<tr>
		<th width="20%">User </th>
		<th width="50%">Content</th>
		<th width="30%">Date add</th>
	</tr>
	{% for greeting in greetings.greetings %}
		<tr>
			<td>{% if greeting.author.nickname %}
				<b>{{ greeting.author }}</b>
			{% else %}
				An anonymous person
			{% endif %}</td>
			<td>{{ greeting.content|escape }}</td>
			<td>{{ greeting.date|date:"d-m-Y H:s" }}</td>
		</tr>
	{% endfor %}
</table>

<form action="/sign/" method="post">
	{% csrf_token %}
	<input type="hidden" name="guestbook_name" value="{{ greetings.guestbook_name }}" />
	<div><textarea name="content" rows="3" cols="60"></textarea></div>
	<div><input type="submit" value="Sign Guestbook"></div>
</form>

<a href="{{ greetings.url }}">{{ greetings.url_linktext }}</a>

</body>
</html>